:root {
  /*Кольори*/
  --color-text-title: #212121;
  --color-bg-primary: #2f303a;
  --color-text-contact: rgba(255, 255, 255, 0.6);
  --color-header-border: #ececec;
  --color-team-section: #f5f4fa;
  --color-first-logo: #2196f3;
  --color-second-logo: #000000;
  --color-text-main: #757575;
  --color-work-section: #ffffff;
  --color-gallery-border: #eeeeee;

  /*Шрифти*/
  --font-primary: "Roboto", serif;
  --font-secondary: "Raleway", serif;
}

li {
  list-style-type: none;
}

ul {
  padding-left: 0;
}

body {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  color: var(--color-text-main);
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/*HEADER*/

.header {
  padding-top: 25px;
  padding-bottom: 25px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 93px;
}

.logo {
  font-family: var(--font-secondary);
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  color: var(--color-first-logo);
  letter-spacing: 0.03em;
}

.logo-part {
  color: var(--color-second-logo);
  letter-spacing: 0.03em;
}

.navigation {
  flex-grow: 1;
}

.nav-list {
  display: flex;
  gap: 48px;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
  color: var(--color-text-title);
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-contacts-item {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.header-contacts-link {
  text-decoration: none;
  font-weight: 500;
  color: var(--color-text-main);
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-contacts-svg-email {
  width: 16px;
  height: 12px;
  fill: #757575;
  display: flex;
  justify-content: center;
}

.header-contacts-svg-smartphone {
  width: 10px;
  height: 16px;
  fill: #757575;
  display: flex;
  justify-content: center;
}

.header-contacts-list {
  display: flex;
  gap: 50px;
}

.nav-link:hover {
  color: var(--color-first-logo);
}

.nav-link:active {
  color: var(--color-first-logo);
}

.header-contacts-item:hover .header-contacts-svg {
  fill: #2196f3;
  cursor: pointer;
}

.header-contacts-item:hover .header-contacts-link {
  color: var(--color-first-logo);
}

/*Hero Section*/
.hero {
  background-color: var(--color-bg-primary);
  border-top: 1px solid var(--color-header-border);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to right, #2f303a63),
    url(../img/description/hero-img.webp);
}

.hero-container {
  display: flex;
  justify-content: center;
}

.hero-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 200px;
}

.hero-title {
  color: var(--color-work-section);
  font-weight: 900;
  line-height: 1.36;
  font-size: 44px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  max-width: 696px;
  padding-top: 200px;
}

.hero-button {
  background-color: var(--color-first-logo);
  font-weight: 700;
  width: 216px;
  height: 50px;
  color: var(--color-work-section);
  line-height: 1.87;
  cursor: pointer;
  border: none;
  padding: 10px 32px;
  border-radius: 4px;
  letter-spacing: 0.06em;
  text-align: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  margin-top: 30px;
}

.hero-button:hover {
  transform: translateY(-2px);
}

/*Work Details Section*/
.advantures {
  padding-top: 95px;
  padding-bottom: 95px;
}

.advantures-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.advantures-item {
  flex-basis: calc((100% - 90px) / 4);
}

.advantures-item::before {
  content: "";
  display: block;
  height: 120px;
  background-color: var(--color-team-section);
  margin-bottom: 30px;
  border-radius: 4px;
  background-image: url(/src/img/description/first.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.advantures-item:nth-child(2)::before {
  background-image: url(/src/img/description/second.svg);
}

.advantures-item:nth-child(3)::before {
  background-image: url(/src/img/description/third.svg);
}

.advantures-item:nth-child(4)::before {
  background-image: url(/src/img/description/fourth.svg);
}
.advantures-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  color: var(--color-text-title);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantures-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  color: var(--color-text-main);
  letter-spacing: 0.03em;
}

/*Work Section*/
.work {
  padding-bottom: 95px;
}

.work-title {
  color: var(--color-text-title);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.work-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.work-item {
  position: relative;
}
.work-text {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.14;
  color: var(--color-work-section);
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  padding: 27px 0;
  position: absolute;
  bottom: 0;
  left: 0;
}
/*Team Section*/
.team {
  background-color: var(--color-team-section);
  padding-top: 95px;
  padding-bottom: 95px;
}

.team-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.team-social-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 42px;
  gap: 10px;
}
.team-social-svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.circle-hover {
  display: flex;
  background-color: #ffffff;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 50%;
}

.circle-hover:hover {
  background-color: #2196f3;
  color: #ffffff;
}

.circle-hover:hover .team-social-svg {
  fill: white;
}

.teammate {
  border-radius: 0 0 4px 4px;
  background-color: var(--color-work-section);
  border-radius: 10px;
  width: 270px;
  height: 428px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.teammate-photo {
  margin-bottom: 30px;
}
.teammate-img {
  width: 270px;
  height: 260px;
}
.team-title {
  color: var(--color-text-title);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.teammate-name {
  font-size: 16px;
  color: var(--color-text-title);
  line-height: 1.18;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}

.teammate-role {
  font-size: 16px;
  color: var(--color-text-main);
  line-height: 1.18;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 28px;
}

/*CLIENTS*/
.clients-title {
  font-size: 36px;
  letter-spacing: 3%;
  line-height: 1.16;
  color: #212121;
  display: flex;
  justify-content: center;
  padding-top: 94px;
  padding-bottom: 50px;
  font-weight: 700;
}

.clients-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  padding-bottom: 94px;
}

.clients-wrapper {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  border: 1px solid #afb1b8;
  border-radius: 5%;
}

.clients-wrapper:hover {
  border: 1px solid #2196f3;
  cursor: pointer;
}

.clients-svg {
  fill: #afb1b8;
  width: 108px;
  height: 60px;
}

.clients-wrapper:hover .clients-svg {
  fill: #2196f3;
}

/*FOOTER*/
.footer {
  background-color: var(--color-bg-primary);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  display: flex;
  gap: 70px;
}

.footer-logo {
  font-family: var(--font-secondary);
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  color: var(--color-first-logo);
  letter-spacing: 0.03em;
  display: flex;
  margin-bottom: 20px;
}

.footer-logo-part {
  color: var(--color-work-section);
  letter-spacing: 0.03em;
  display: flex;
}
.footer-social {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
}
.footer-social-title {
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 3%;
  line-height: 1.14;
}
.footer-social-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
.footer-social-svg {
  fill: #ffffff;
  width: 20px;
  height: 20px;
}

.footer-circle-hover {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 50%;
}

.footer-circle-hover:hover {
  background-color: #2196f3;
  color: #ffffff;
}
.footer-adress-text {
  color: var(--color-work-section);
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.footer-contacts-item-email {
  margin-bottom: 10px;
}

.footer-contacts-link {
  color: var(--color-text-contact);
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
  font-style: normal;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.footer-contacts-link:hover {
  color: var(--color-work-section);
}

/*PORTFOLIO SECTION*/
.portfolio {
  padding-top: 95px;
  padding-bottom: 95px;
}
.portfolio-container {
  max-width: 1200px;
}
.filter-list {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-button {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  color: var(--color-text-title);
  background-color: var(--color-team-section);
  border: none;
  padding: 6px 22px;
  border-radius: 4px;
  cursor: pointer;
  letter-spacing: 0.03em;
  text-align: center;
}

.filter-button:hover {
  color: var(--color-work-section);
  background-color: var(--color-first-logo);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
}

.gallery-item {
  flex-basis: calc((100% - 60px) / 3);
}

.gallery-img {
  width: 368px;
  height: 294px;
}

.gallery {
  border-left: 1px solid var(--color-gallery-border);
  border-right: 1px solid var(--color-gallery-border);
  border-bottom: 1px solid var(--color-gallery-border);
  border-top: none;
  max-width: 370px;
}

.gallery:hover {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06),
    0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.gallery-name {
  color: var(--color-text-title);
  font-weight: 700;
  line-height: 2;
  font-size: 18px;
  letter-spacing: 0.06em;
  margin-top: 20px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 4px;
}

.gallery-category {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin-top: 4px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 20px;
}

.portfolio {
  border-top: 1px solid var(--color-header-border);
}
